# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.zed/
.vite/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust Binaries
target/
dist/
.sqlx/

# Packages
backend*.tar.gz
frontend*.tar.gz
packages/

.env
.llm_memory/
