services:
  lldap:
    image: lldap/lldap:stable
    container_name: lldap
    ports:
      # For LDAP, not recommended to expose, see Usage section.
      #- "3890:3890"
      # LDAPS (LDAP Over SSL), enable port if LLDAP_LDAPS_OPTIONS__ENABLED set to true
      #- "6360:6360"
      # Web front-end
      - "17170:17170"
    volumes:
      - "lldap_data:/data"
    environment:
      - UID=${LLDAP_UID}
      - GID=${LLDAP_GID}
      - TZ=${LLDAP_TZ}
      - LLDAP_JWT_SECRET=${LLDAP_JWT_SECRET}
      - LLDAP_KEY_SEED=${LLDAP_KEY_SEED}
      - LLDAP_LDAP_BASE_DN=dc=example,dc=com
      # - LLDAP_LDAP_USER_PASS=adminPas$word
      # If using LDAPS, set enabled true and configure cert and key path
      # - LLDAP_LDAPS_OPTIONS__ENABLED=true
      # - LLDAP_LDAPS_OPTIONS__CERT_FILE=/path/to/certfile.crt
      # - LLDAP_LDAPS_OPTIONS__KEY_FILE=/path/to/keyfile.key
      # You can also set a different database:
      # - LLDAP_DATABASE_URL=mysql://mysql-user:password@mysql-server/my-database
      - LLDAP_DATABASE_URL=postgres://${LLDAP_POSTGRES_USER}:${LLDAP_POSTGRES_PASSWORD}@lldap_postgres/authentication
      # If using SMTP, set the following variables
      # - LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET=true
      # - LLDAP_SMTP_OPTIONS__SERVER=smtp.example.com
      # - LLDAP_SMTP_OPTIONS__PORT=465 # Check your smtp provider's documentation for this setting
      # - LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION=TLS # How the connection is encrypted, either "NONE" (no encryption, port 25), "TLS" (sometimes called SSL, port 465) or "STARTTLS" (sometimes called TLS, port 587).
      # - LLDAP_SMTP_OPTIONS__USER=no-reply@example.com # The SMTP user, usually your email address
      # - LLDAP_SMTP_OPTIONS__PASSWORD=PasswordGoesHere # The SMTP password
      # - LLDAP_SMTP_OPTIONS__FROM=no-reply <no-reply@example.com> # The header field, optional: how the sender appears in the email. The first is a free-form name, followed by an email between <>.
      # - LLDAP_SMTP_OPTIONS__TO=admin <admin@example.com> # Same for reply-to, optional.
    networks:
      - net
    restart: "unless-stopped"

  lldap_postgres:
    image: postgres:17
    container_name: lldap_postgres
    environment:
      POSTGRES_DB: authentication
      POSTGRES_USER: ${LLDAP_POSTGRES_USER}
      POSTGRES_PASSWORD: ${LLDAP_POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_HOST_AUTH_METHOD: trust
    networks:
      - net
    ports:
      - "${POSTGRES_PORT}:5432"
    restart: on-failure
    volumes:
      - "lldap_postgres:/var/lib/postgresql/data"
      - './database:/docker-entrypoint-initdb.d/'

  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    volumes:
      - ./manifests/authentication/authelia/configuration.yml:/config/configuration.yml
    ports:
      - "9091:9091"
    depends_on:
      - lldap
    networks:
      - net
    restart: "unless-stopped"

networks:
  net:

volumes:
  lldap_data:
    driver: local
  lldap_postgres:
    driver: local
