version: '3.8'

services:
  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "Example Inc."
      LDAP_DOMAIN: "example.com"
      LDAP_ADMIN_PASSWORD: "admin"
    ports:
      - "389:389"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
    networks:
        - net
    restart: 'unless-stopped'

  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    volumes:
      - ./manifests/authelia:/config
    ports:
      - "9091:9091"
    depends_on:
      - openldap
    networks:
        - net
    restart: 'unless-stopped'

  # nginx:
  #   image: nginx:latest
  #   container_name: nginx
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - ./manifests/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  #   depends_on:
  #     - authelia


networks:
  net:

volumes:
  ldap_data:
  ldap_config:
