@use 'variables' as *;
@use 'mixins' as *;

.page {
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-8;
    padding-top: $space-8;
    padding-bottom: $space-16;

    @include container;

    @include media-up($breakpoint-md) {
        grid-template-columns: 14rem 1fr;
    }
}

.content {
    min-width: 0;
}
