@use 'variables' as *;
@use 'mixins' as *;

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $space-6;
    min-height: 100%;
    padding-block: $space-6;

    @include container;
}

.card {
    width: min(26rem, 100%);
    text-align: center;
}
