---
# Contains the minimum required services to run the application.

services:

    backend:
        image: localhost/backend:latest
        build:
            context: .
            dockerfile: crates/Dockerfile.release
            tags:
                - "localhost/backend:latest"
        container_name: backend
        environment:
            IP: 0.0.0.0
            PORT: 9876
            PROMETHEUS_IP: 0.0.0.0
            PROMETHEUS_PORT: 9100
            SWAGGER_IP: 0.0.0.0
            SWAGGER_PORT: 7070
            SWAGGER_UI_PATH: "/v1/docs/swagger-ui"
            SWAGGER_OPENAPI_PATH: "/v1/docs/openapi.json"
            DEBUG: true
            DATABASE_HOST: postgres
            DATABASE_PORT: 5432
            DATABASE_NAME: ${POSTGRES_DATABASE}
            DATABASE_USER: ${POSTGRES_USER}
            DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
        networks:
            - net
        ports:
            - "${BACKEND_PORT}:9876"
            - "${SWAGGER_PORT}:7070"
        restart: on-failure

    frontend:
        image: localhost/frontend:latest
        build:
            context: .
            dockerfile: frontend/Dockerfile.release
            tags:
                - "localhost/frontend:latest"
        container_name: frontend
        environment:
            API_ROOT: ${API_ROOT}
        networks:
            - net
        ports:
            - "${FRONTEND_PORT}:8080"
        restart: on-failure

networks:
    net:

volumes:
    postgres:
