---
# Contains the minimum required services to run the application.

services:
    database:
        image: postgres:17
        container_name: postgres
        environment:
            POSTGRES_DB: ${POSTGRES_DATABASE}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            PGDATA: /var/lib/postgresql/data/pgdata
            POSTGRES_HOST_AUTH_METHOD: trust
        networks:
            - net
        ports:
            - "${POSTGRES_PORT}:5432"
        restart: on-failure
        volumes:
            - "postgres:/var/lib/postgresql/data"
            - "./database:/docker-entrypoint-initdb.d/"

networks:
    net:

volumes:
    postgres:
