/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*! CSS Course https://www.slayingthedragon.io/ */
/*! Vite Template https://vite.dev/ */

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: (1em + 0.5rem);
}

:root {
    --color-background: #1b1b1b;
    --color-text: rgba(255, 255, 255, 0.87);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #ffffff;
        --color-text: #041120;
    }
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: dark light;
    color: var(--color-text);
    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    scroll-behavior: smooth;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    appearance: button;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

h1 {
    font-size: 3.2em;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono',
        Menlo, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-color: currentcolor;
}

progress {
    vertical-align: baseline;
}

summary {
    display: list-item;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
